APP_NAME=Local
POSTGRES_HOST=localhost
POSTGRES_PORT=15433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=triple_db

TG_BOT_TOKEN=<TOKEN>
TG_BOT_WEBHOOK_ENABLED=false
TG_BOT_WEBHOOK_SECRET=_
TG_BOT_WEBHOOK_URL=https://api-stage.io/telegram-webhook
BOT_URL=https://t.me/DuckyLocalBot/app?startapp
TG_BOT_SET_WEBHOOK_AFTER_LAUNCH=false

WEB_APP_URL=https://triplestudio.app
WELCOME_IMAGE=/images/welcomeNew.jpg

TON_ADDRESS=0QBeixk03JeMaEjnqDMlLGobvaXybSsTJZR_9AyUAcY-GZFg
TON_MNEMONIC="bla1 bla2 bla3 bla4 bla5 bla6 ...  bla24"
TON_MNEMONIC_NFT="blaa1 blaa2 blaa3 blaa4 blaa5 blaa6 ...  blaa24"
TON_CENTER_API_URL=https://testnet.toncenter.com/api/v2
TON_CENTER_API_KEY=f30ce60f3b7c3035e4056348e59bc431a2efe0f6da5745349ec92600416c5db6